<div style="margin-top: 30px;margin-left: 30px;margin-right: 30px;">
    <div fxLayout="row" fxFlex="100" fxLayoutGap="2%">
        <div fxLayout="column" fxFlex="80">
            <h3 mat-subheader>Notes</h3>
    
            <mat-card style="margin-bottom: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card>
    
            <mat-card style="margin-bottom: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card>
    
            <mat-card style="margin-bottom: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card>
    
            <mat-card style="margin-bottom: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card>
    
            <mat-card style="margin-bottom: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <h3 mat-subheader>Tags</h3>
            <mat-chip-list>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag One
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Two
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Three
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Four
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Five
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Six
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Seven
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Eight
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Nine
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip color="accent" [removable]="true" selected>
                    Tag Ten
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
</div>


  